@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: make transform dynamic */
@layer utilities {
    .notification-enter {
        transform: translateX(245px);
    }

    .notification-enter-active {
        transform: translateX(0px);
    }

    .notification-exit {
        opacity: 1;
    }

    .notification-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }

    @keyframes flash {
        0%   {background-color: #f6fafe;}
        10%  {background-color: #D0DEF8;}
        to   {}
    }

    .flash {
        animation: flash 1s ease forwards;
    }
}

html, body {
    width: 700px;
    height: 400px;
}
