* {
    font-family: "Raleway", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: #757575;
}

body {
    width: 300px;
    border-radius: 4px;
}

p {
    font-size: 1rem;
}

.title {
    background-color: #210362;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.title img {
    height: 40px;
}

section {
    padding: 1rem;
}

section:not(:last-of-type) {
    border-bottom: 1px solid #81d4fa;
}

section article {
    display: flex;
    align-items: center;
}

section article:not(:last-of-type) {
    margin-bottom: 0.75rem;
}

section h2 {
    font-size: 1.15rem;
}

section h4 {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.notice {
    padding: 1rem;
}

.notice p {
    text-align: center;
}

i {
    margin-right: 1rem;
    font-size: 1.25rem;
}

a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #0056b3;
}

#icons {
    display: flex;
    align-items: center;
    color: #7e8be4;
    font-weight: 500;
}

#icons i {
    font-size: 1.5rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ede7f6;
    padding: 1rem;
}

footer div {
    display: flex;
    align-items: center;
}

footer label {
    margin-left: 0.25rem;
}

footer div a:first-child {
    margin-right: 1rem;
}